@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Wendy+One&display=swap');

/*CSS Reset*/
:root {
  --main-purple: hsla(271, 55%, 39%, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background: url(./assets/bg.png);
  background-repeat: no-repeat;
  color: var(--main-purple);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Wendy One', sans-serif;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 52px;
}

.header-image {
  margin-left: 70px;
}

header {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  margin-bottom: 50px;
}

.button-main {
  height: 43px;
  width: 206px;
  background: var(--main-purple);
  color: #fff;
  border: none;
  border-radius: 8px;
}

/*
Atom CSS
*/

.margin-left-12 {
  margin-left: 12px;
}

.margin-right-12 {
  margin-right: 12px;
}

.margin-bottom-22 {
  margin-bottom: 22px;
}

.margin-bottom-34 {
  margin-bottom: 34px;
}

.margin-bottom-46 {
  margin-bottom: 46px;
}

.line-height-24 {
  line-height: 24px;
}

.line-height-26 {
  line-height: 26px;
}

.text-justify {
  text-align: justify;
}

.font-size-18 {
  font-size: 18px;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cupcake-2 {
  margin-top: 72px;
}

.section-2 {
  margin-top: 80px;
}

.section-2 h2 {
  margin-bottom: 88px;
}

.catalog-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 85px;
  margin-left: 16px;
  margin-right: 16px;
}

.catalog-container img {
  margin-bottom: 30px;
}

.catalog-container h3 {
  font-size: 2em;
}

.catalog-container p {
  margin-bottom: 36px;
}

.increase-decrease {
  display: flex;
  height: 43px;
  width: 100px;
  border: 2px var(--main-purple) solid;
  margin-bottom: 8px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}

.button-container {
  display: flex;
}

.increase-decrease span {
  font-size: 1.5em;
  margin: 0 4px;
}

.section-3 {
  margin-top: 212px;
}

.section-3 p {
  font-size: 18px;
  line-height: 26px;
  text-align: justify;
}

.section-3 button {
  margin-top: 19px;
  margin-bottom: 74px;
}

footer {
  color: #fdefd1;
  margin-bottom: 68px;
}

footer h2 {
  font-size: 32px;
  font-weight: 400;
  line-height: 34px;
  margin-bottom: 52px;
}

footer label {
  font-size: 18px;
}

footer input {
  width: 100%;
  height: 43px;
  margin-top: 29px;
  margin-bottom: 29px;
  background: transparent;
  border: 2px solid #fdefd1;
  border-radius: 8px;
}

footer input::placeholder {
  color: #fdefd1;
  padding-left: 24px;
}

footer button {
  width: 100%;
  height: 43px;
  border-radius: 8px;
  border: none;
  background: #fdefd1;
  color: var(--main-purple);
}

.footer-link {
  margin-top: 65px;
}

.footer-link a {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: #fdefd1;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 24px;
}
