@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Wendy+One&display=swap');

/*CSS Reset*/
:root {
  --main-purple: hsla(271, 55%, 39%, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #5d3394;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background: url(./assets/bg.png);
  background-repeat: no-repeat;
  color: var(--main-purple);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Wendy One', sans-serif;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 52px;
}

header {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 12px;
  margin-bottom: 50px;
}

.navbar-list a {
  color: #5d3394;
  text-decoration: none;
}

.navbar-list {
  display: none;
}

.button-main {
  height: 43px;
  width: 206px;
  background: var(--main-purple);
  color: #fff;
  border: none;
  border-radius: 8px;
}

.header-description-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.header-description {
  max-width: 100%;
}

.header-image {
  max-width: 100%;
}

.header-image img:nth-child(2) {
  display: none;
}

/*
Atom CSS
*/

.margin-left-12 {
  margin-left: 12px;
}

.margin-right-12 {
  margin-right: 12px;
}

.margin-bottom-22 {
  margin-bottom: 22px;
}

.margin-bottom-34 {
  margin-bottom: 34px;
}

.margin-bottom-46 {
  margin-bottom: 46px;
}

.line-height-24 {
  line-height: 24px;
}

.line-height-26 {
  line-height: 26px;
}

.text-justify {
  text-align: justify;
}

.font-size-18 {
  font-size: 18px;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cupcake-2 {
  margin-top: 72px;
}

.section-2 {
  margin-top: 80px;
}

.section-2 h2 {
  margin-bottom: 88px;
}

.catalog-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 85px;
  margin-left: 16px;
  margin-right: 16px;
}

.catalog-container img {
  margin-bottom: 30px;
}

.catalog-container h3 {
  font-size: 2em;
}

.catalog-container p {
  margin-bottom: 36px;
}

.increase-decrease {
  display: flex;
  height: 43px;
  width: 100px;
  border: 2px var(--main-purple) solid;
  margin-bottom: 8px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}

.button-container {
  display: flex;
}

.increase-decrease span {
  font-size: 1.5em;
  margin: 0 4px;
}

.section-3 {
  margin-top: 212px;
}

.section-3 p {
  font-size: 18px;
  line-height: 26px;
  text-align: justify;
}

.section-3 button {
  margin-top: 19px;
  margin-bottom: 74px;
}

footer {
  color: #fdefd1;
  margin-bottom: 68px;
}

footer h2 {
  font-size: 32px;
  font-weight: 400;
  line-height: 34px;
  margin-bottom: 52px;
}

footer label {
  font-size: 18px;
}

footer input {
  width: 100%;
  height: 43px;
  margin-top: 29px;
  margin-bottom: 29px;
  background: transparent;
  border: 2px solid #fdefd1;
  border-radius: 8px;
}

footer input::placeholder {
  color: #fdefd1;
  padding-left: 24px;
}

footer button {
  width: 100%;
  height: 43px;
  border-radius: 8px;
  border: none;
  background: #fdefd1;
  color: var(--main-purple);
}

.footer-link {
  margin-top: 65px;
}

.footer-link a {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: #fdefd1;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 24px;
}

/*
Tablet viewport
*/

@media screen and (min-width: 376px) {
  body {
    background: url(./assets/bg-tablet.png);
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    margin: 30px 30px 0px 30px;
  }
  .navbar-list {
    display: block;
  }

  .navbar-list a {
    font-size: 18px;
    margin-right: 32px;
  }

  .navbar-list a:nth-child(1) {
    font-weight: 600;
  }

  .navbar-list a:nth-child(3) {
    margin-right: 0;
  }

  .hamburger {
    display: none;
  }

  .header-description-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    place-content: center;
  }

  .header-description {
    max-width: 100%;
    padding: 48px 0;
    margin-left: 24px;
  }

  .header-description p {
    line-height: 26px;
  }

  .header-image {
    padding: 24px 0;
    max-width: 100%;
    margin: 0 auto;
  }

  .header-image img {
    max-height: 100%;
    object-fit: cover;
    margin-left: -50px;
  }

  .header-image img:nth-child(1) {
    display: none;
  }

  .header-image img:nth-child(2) {
    display: block;
  }

  /* Main Section 1 */

  .section-1 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 340px;
  }

  .section-1 > .image-container {
    padding: 0 48px;
  }

  .section-1 > .text-container {
    margin-right: 104px;
  }

  .section-1 > .text-container h2 {
    font-weight: normal;
  }

  /*
  Section 2 - Catalogs
  */
  .catalog-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-evenly;
  }

  .section-2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 338px;
  }

  .section-2 h2 {
    max-width: 400px;
    margin-left: 48px;
  }

  .catalog-container {
    max-width: 336px;
  }

  /*
    Section 3
  */

  .section-3 > .text-container {
    max-width: 472px;
    margin-left: 72px;
  }

  .section-3 {
    padding-top: 72px;
  }

  .section-3 > .image-container {
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 72px;
  }

  .cta-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 48px 24px 0 24px;
  }

  .cta-container h2 {
    margin: 0;
  }
  .email-container {
    display: flex;
    align-items: center;
  }

  .cta-container > form {
    max-width: 60%;
    min-width: 50%;
    margin: 0;
  }

  .cta-container > form > .email-container > input {
    margin-right: 24px;
  }

  .cta-container > form button {
    max-width: 106px;
  }

  .footer-link {
    display: flex;
    margin-left: 24px;
    margin-top: 24px;
  }

  .col-1 {
    margin-right: calc(72 * 3px);
  }

  .link-container > p {
    margin-top: 48px;
    margin-left: 24px;
  }
}
